$base-font-size: 18px !default;
$text-color: #FFFFFF;
$border-color: #FFFFFF;
$bg-color: #000000;

body {
	color: $text-color;
	margin: 0;
	word-break: break-word;
	font-family: 'Times New Roman', serif;
	font-size: $base-font-size;
	background-color: $bg-color;
}

a:link {
	color: #006DFF;
}

a:visited {
	color: #7F4FFF;
}

ul {
	padding-left: 10px;
	margin: 10px;
}

li {
	margin-bottom: 10px;
}

article {
	padding: 0 20px 0 20px;
}

header,footer {
	padding: 10px;
}

.home {
	padding: 1em;
}

.site-title {
}

.post-counter {
	font-weight: bold; 
}

.post-info {
	margin: auto;
}

table {
	th,td {
		border-bottom: 1px solid $border-color;
		border-right: 1px double $border-color;
	}
}

.content-wrapper {
    max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	* {
		max-width: 100%;
	}
}